{% extends "core/base.html" %}
{% load static %}

{% block title %}Pizza{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}



<div class="row pt-3 d-flex justify-content-center">
    <h2>Ваш заказ</h2>
</div>

<div class="row pt-3 d-flex justify-content-center">
    <div class="col-xl-8 py-2 d-flex justify-content-center">
        <div class="col cart rounded p-3"></div>
    </div>
</div>

<div class="row pt-3 d-flex justify-content-center">
    <h2>Оформление заказа</h2>
</div>

<div class="row pt-3 d-flex justify-content-center">
    <div class="col-xl-8 py-2 d-flex justify-content-center">
        <div class="col  p-3">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-delivery"
                        role="tab" aria-controls="nav-home" aria-selected="true">Доставка</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-carryout" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Самовывоз</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-delivery" role="tabpanel"
                    aria-labelledby="nav-delivery-tab">
                    <form method="POST" class="post-form mt-3" id="delivery">
                        <div class="form-group">
                            <input type="text" name="street" maxlength="20" class="textinput textInput form-control"
                                required id="id_street" placeholder="Улица">
                        </div>
                        <div class="form-group">
                            <input type="text" name="house" maxlength="10" class="textinput textInput form-control"
                                required id="id_house" placeholder="Дом">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apartment" maxlength="10" class="textinput textInput form-control"
                                required id="id_apartment" placeholder="Квартира">
                        </div>
                        {% if not user.is_authenticated %}
                        <div class="form-group">
                            <input type="email" name="email" class="textinput textInput form-control" required
                                id="id_email" placeholder="Email">
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="order_time">Время:</label>
                            <input class="border border-primary" type="datetime-local" name="order_time"
                                id="order_time">
                        </div>
                        <button type="submit" data-toggle="modal" data-target="#exampleModal"
                            class="save btn btn-primary">Подтвердить заказ</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="nav-carryout" role="tabpanel" aria-labelledby="nav-carryout-tab">
                    <form method="POST" class="post-form mt-3" id="carryout">
                        <div class="form-group">
                            <select name="restaurant" class="form-control" id="restaurant">
                                {% for restaurant in restaurants %}
                                <option street="{{restaurant.street}}" house="{{restaurant.house}}" apartment="-">
                                    {{restaurant.street}} {{restaurant.house}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if not user.is_authenticated %}
                        <div class="form-group">
                            <input type="email" name="email" class="textinput textInput form-control" required
                                id="id_email" placeholder="Email">
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="order_time">Время:</label>
                            <input class="border border-primary" type="datetime-local" name="order_time"
                                id="order_time">
                        </div>
                        <button type="submit" data-toggle="modal" data-target="#exampleModal"
                            class="save btn btn-primary">Подтвердить заказ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="modal">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/order.js' %}"></script>
{% endblock content %}